<h1><%= @space.name %></h1>

<h3>Edit form</h3>
<%= simple_form_for(@space) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :category %>
  <%= f.input :price  %>
  <%= f.submit "Edit your listing", class: "btn btn-primary" %>
<% end  %>
