<<<<<<< HEAD

<%= cl_image_tag @space.photo, height: 300, width: 400, crop: :fill %>
=======
<h1><%= @space.name %></h1>

<ul>
  <li>
    <p>Location: <%= @space.location %></p>
  </li>
  <li>
    <p>Category: <%= @space.category %></p>
  </li>
  <li>
    <p>Price: <%= @space.price %></p>
  </li>
</ul>



>>>>>>> 49139577c282ea578e3190997d7f93e7466c7886
