
<div class="container">
  <div class="booking-listing-header">
    <h1>Bookings</h1>
  </div>
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <%= image_tag booking.space.photo.url %>
      <div class="card-product-infos">


        <h2 class="booking-card-title"><%= booking.space.name %></h2>
        <p class="booking-card-location"><%= booking.space.location %></p>
        <p class="booking-card-date booking-info">Booked for: <%= booking.date %></p>
        <p class="booking-card-host booking-info">Host: <%= booking.space.user.name %></p>
        <%= link_to 'Change booking', edit_space_booking_path(booking.space, booking), class: "booking-card-button"%>
      </div>
    </div>
  <% end %>
</div>


